#barChart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    padding: 20px;
    overflow-y: auto;
}

#barChart .bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
}

#barChart .bar .value {
    font-size: 0.7rem;
}

#barChart .bar .bar-plot {
    height: 100%;
    background-color: var(--bg);
    border: 1px solid var(--accent);
    border-radius: 0 5px 5px 0;
    transform-origin: left;
    animation: bar-chart-size 3s ease-in-out infinite;
    backdrop-filter: blur(7px);
}

#barChart .bar .label {
    width: 50px;
    font-size: 0.6rem;
}

@keyframes bar-chart-size {
    0% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
    }
    80% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}